$white: #ffffff;
$black: #000000;


  // ACTIVE

$ACTIVE_CTA: #007AFF;
$ACTIVE_HOT: #F14529;
$ACTIVE_YES:#6CBD46;
$ACTIVE_4: #FF7A00;

  // NEUTRAL

$NEUTRAL_BACKGROUND: #F1F1F7;
$NEUTRAL_ICON_NORMAL: #A6A6A6;
$NEUTRAL_WHITE: #FFFFFF;
$NEUTRAL_BLACK_ACTIVE: #333333;
$NEUTRAL_BLACK_UNACTIVE: #666666;
$NEUTRAL_BACKGROUND_BUTTON: #DEDEDE;

