@font-face {
  font-family: "arial";
  src: url("/public/assets/fonts/Cera Pro Black Italic.otf");
}

.Title-1 {
  font-size: 16;
  line-height: 24;
  font-family: "arial";
  font-weight: 700;
}

.Title-2 {
  font-size: 14;
  line-height: 21;
  font-family: "arial";
  font-weight: 700;
}
.Title-3 {
  font-size: 12;
  line-height: 18;
  font-family: "arial";
  font-weight: 700;
}
.Title-title-module {
  font-size: 20;
  line-height: 30;
  font-family: "arial";
  font-weight: 700;
}
.Title-screen {
  font-size: 18;
  line-height: 27;
  font-family: "arial";
  font-weight: 700;
}
.Title-module {
  font-size: 16;
  line-height: 24;
  font-family: "arial";
  font-weight: 700;
}
.Title-big {
  font-size: 22;
  line-height: 30;
  font-family: "arial";
  font-weight: 700;
}
.Body-1 {
  font-size: 14;
  line-height: 21;
  font-family: "arial";
  font-weight: 400;
}
.Body-2 {
  font-size: 12;
  line-height: 18;
  font-family: "arial";
  font-weight: 400;
}
.Body-3 {
  font-size: 10;
  line-height: 16;
  font-family: "arial";
  font-weight: 400;
}
.Body-4 {
  font-size: 16;
  line-height: 25;
  font-family: "arial";
  font-weight: 400;
}
